html,
body {
    height: 100%;
}

/*.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}*/
.page_header h1{
    margin-left:13px;
}
.sidebar ul.menu li.active {
    background: #00598D!important;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.nav_wrap {
    background: #1F7493;
}

.btn-feedback {
    display: inline-block;
    border: 2px solid #CF2F31;
    padding: 10px 10px;
    border-radius: 5px;
    width: 191px;
    text-align: center;
    text-transform: uppercase;
    color: #CF2F31;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
}

.btn-feedback:hover{
  text-decoration: none;
  color: #CF2F31;
  background: #FBFBFB;
}

.btn-white {
  display: inline-block;
  border: 2px solid #fff;
  padding: 10px 10px;
  border-radius: 5px;
  width: 191px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-white:hover{
  text-decoration: none;
  color: #fff;

}

.slider_back{
  left: 0px !important;
  top: 0px !important;
  padding: 0px 26px !important;
  width: 100% !important;
  height: 100% !important;
  background-image: none;
  background-color: rgba(0,0,0,0.5);
  position:absolute;
}

.slider_text{
  color: #fff;
}

.slider_text p {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    display: block;
}
.slider_text h2 {
    font-size: 36px!important;
    color: #fff!important;
}

span.header_title {
    font-size: 24px;
    font-weight: bold;
    color: #1D7292;
}

.header_title_wrap{
    display: inline-block;
    padding: 10px 0px 0px 28px;
}

.header_phone{
  text-align: center;
width: 189px;
float: right;
color: #1D7292;
margin-top: 3px;
font-weight: bold;
font-size: 15px;
}

.btn-frontPage {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-top: 55px;
}

.frontPageDiv{
  background: url(/images/logo_gray_lr_half.png) no-repeat;
  height: 145px;
  background-size: 70px
}

.frontPageDivWrap{
  width: 100%;
    height: 165px;
    background: #1CA1DC;
    padding: 10px 0px;
}
.frontPageTitle h2{
  color: #1F7493;
  font-size: 40px;
  padding-top: 0px;
  margin-top: 0px;
}
