body {
    padding-bottom: 20px;
}

.blue-panel {
    background: #179bd7;
    color: white;
    padding: 20px 0px;
    font-size: 35px;
}

.dark-blue-panel {
    background: #1e518d;
    color: white;
    padding: 20px 20px;
    font-size: 35px;
}

.see-blue-panel {
    background: #195576;
    color: white;
    padding: 40px 20px;
}

.dark-blue-text {
    color: #1f518d;
}


.dark-panel{
    background: #000000;
    color: white;
    padding: 40px 20px;
}

.gray-panel {
    background: #727372;
    color: white;
    padding: 20px 20px;
    font-size: 35px;
}


.small {
    width: 30%;
}

.blue-block {
    background: #1e518d;
    color: white;
    font-size: 22px;
    line-height: 38px;
    padding: 15px;
}

.contact-block {
    position: absolute;
    z-index: 10;
    padding: 20px;
    background: #ffffffe0;
    border-top: 1px solid black;
    margin-top: 100px;
}

.contact-title {
    font-size: 35px;
    border-bottom: 1px solid black;
}

.blue-title {
    padding: 30px;
    font-size: 35px;
    color: #1A60AA;
}

.menu-wrap {
    border-top: 1px solid #1D1D1E;
}

.all-width{
	width: 100%;
}

.arrow {
    font-size: 50px;
    color: #195576;
}

.step-number-block{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.step-description {
    font-size: 12px;
    padding: 20px 0px;
}

.step-2-slogan {
    font-size: 14px;
    text-align: center;
}

.step-2-slogan-border {
    height: 12px;
    background: url(../images/border-image.png);
    background-size: 15px;
}

.white-link {
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
}

.project-item-title {
    height: 60px;
    font-size: initial;
    padding: 5px 13px;
    margin-top: -60px;
    background: #619ab5ba;
    position: relative;
}

.partner-logo-wrap{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {

    .navbar{
        padding: 0px;
    }
    .nav-link{
        border-left:1px solid #1d1d1e;
    }

    .nav-item{
        border: none !important;
        padding: 7px 0px;
        width:200px;
    }
    .navbar-nav {
        display: table;
        position: relative;
        width: 100%;
    }

    .dark-blue-item{
        background: #1f518d;
    }
    .dark-blue-item a{
        color: white!important;
    }
    
	.navbar-nav:last-child {
	    border-right: 1px solid #1d1d1e;
	}

    li.nav-item {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-left: 1px solid #1d1d1e;
    }
}